/* Add CSS styling here */

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: cursive;
    /*border: 1px dotted pink; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    background-color: lavender;
}

header{
    background-color: dodgerblue;
    border: 5px solid grey;
    height: 25vh;
}

.mainTitle {
    margin: 1%;
    font-weight: bold;
    font-size: 4rem;
}

nav {
    margin: 2%;
    padding: ;
    text-decoration: none;
    letter-spacing: .25em;
}

.upperBody {
    display: flex;
    margin: 3% 6.75%;
}


img {
    width: 100%;
}

#mainImg {
    width: 70%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.myName {
    font-size: 2rem;
}

.projectsButton button {
    font-weight: bold;
    font-size: 0.9rem;
    background-color: lawngreen;
    align-content: center;
}

.lowerBody {
    display: flex;
    flex-wrap: wrap;
    margin: 3% 2%;
    justify-content: center;
    
}


#projects img {
    width: 200px;
    height: 200px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
}

.lowerBody div {

    width: 23%;
}

footer {
    padding: 6%;
    border: 5px solid grey;
    text-align: center;
    background-color: blueviolet;
    
}

footer h2 {
    color: lemonchiffon;
    font-weight: 900;
    font-size: 4rem;
}

#contact {
    font-weight: bold;
    font-size: 1.7rem;
    background-color: lawngreen;
}



@media (max-width: 970px) {

    *{
        border: 2px solid green;
    }

    #projects img {
        padding: 1%;
        width: 150px;
        height: 150px;
    }

}


@media (max-width: 700px) {

    *{
        border: 2px solid green;
        box-sizing: content-box;
    }

    #projects img {
        padding: 1%;
        width: 150px;
        height: 150px;
    }

}






@media (max-width: 400px) {

    *{
        flex-direction: column;
        align-content: center;
        border: 2px solid pink;
    }

    h1, nav {
        text-align: center;
    }

    #mainImg {
        width: 100%;
    }

}